

.results {
  display: block;
  background-color: rgb(243, 243, 243);
  height: 500px;
  width: 100%;
  border-radius: 10px;
  /* margin-left: 0px; */
  text-align: center;
  margin-bottom: 25px;
}

.iframe {
  margin: auto;
  text-align: center;
  width: 250px;
  height: 380px;
}

.btn-results {
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 900px) {
  .iframe {
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .iframe {
    width: 400px;
  }
}

/* .container {
  position: relative;
  width: 250px;
  height: 80px;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 250px;
  height: 80px;
  /* opacity: 0; */
  /* transition: opacity 700ms; */
/* } */
/* 
.loading {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 80px;
  z-index: 0;
}

.loading i{
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(359deg);
  }
}  */