

.results {
  position: relative;
  background-color: rgb(243, 243, 243);
  height: 500px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  margin: 0px auto  25px auto;
}

.iframe {
  width: 250px;
  height: 380px;
  left: 12.5%;
  position: absolute;
  z-index: 1;
  width: 75%;
  height: 380px;
}

.btn-results {
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.loading-result {
  font-style: italic;
  color: rgb(38, 104, 116);
  left: 12.5%;
  position: absolute;
  z-index: 0;
  width: 75%;
  height: 380px;
  background-color: rgb(243, 243, 243);
}

@media screen and (min-width: 900px) {
  .iframe {
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .iframe {
    width: 400px;
  }
}