
.align-right {
  margin: 0px;
  display: inline-block;
  position: absolute;
  right: 10px;
  color: black;
  font-size: 1.25rem;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link {
  text-decoration: none;
  color: black;
}

.blue {
  color: rgb(110, 169, 173);
}

.logo-link {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 5px;
  color: black;
  font-size: 1.75rem;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 490px) {
  .align-right {
    font-size: 1rem;
  } 

  .logo-link {
  font-size: 1.50rem;
  top: 8px;
  }
}